body {
    font-family: Arial, sans-serif;
    background-color: #836d49; /* Change this to your desired background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure the body covers the entire viewport */
}

.container {
    width: 100%;
    max-width: 600px; /* Adjust as per your design */
    background-color: #043870;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px; /* Adjust margin top to create space between header and container */
    text-align: center; /* Center the content in the container */
}

.header {
    text-align: center; /* Center the heading */
    padding: 20px 0; /* Add padding top and bottom to create space */
    background-color: #357d8f; /* Example background color */
}

#todo-list {
    max-height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.todo-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border-radius: 3px;
    justify-content: space-between;
}

.todo-item.highlighted {
    background-color: #ffeb3b;
}

.todo-item span {
    flex-grow: 1;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.add-btn {
    width: 50px;
    height: 50px;
    background-color: #ff2222;
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-todo-input {
    display: none;
    padding: 10px;
    border-top: 1px solid #ddd;
}

#new-todo-input input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.calendar-view-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.calendar-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.calendar-modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.date-section {
    margin-bottom: 15px;
}

.date-section h3 {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.task-item {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}
